.popup {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__show {
  pointer-events: auto;
  opacity: 1;
}

.popup__container {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  color: black;
  position: relative;
  top: 0;
  right: 0;
  /*margin: 150px auto;*/
  padding: 34px 36px;
  border-radius: 25px;
}

.popup__editar {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  margin: 0 0 54px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  align-self: center;
}

.popup__form-fieldset {
  max-width: 358px;
  border: 0;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.popup__container-bttn-close {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  background-color: transparent;
  border: 0;
  top: -32.5px;
  right: -32.5px;
}

.popup__form-btn-submit-disable {
  opacity: 0.6;
  cursor: not-allowed;
}

.popup__close-image {
  background-color: transparent;
  border: none;
  font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
  position: relative;
  left: 230px;
  bottom: 140px;
}

.popup__form-input {
  border: none;
  border-bottom: 1px solid #000000;
}

.popup__form-input_submit {
  margin-top: 48px;
  background-color: black;
  color: white;
  height: 50.15px;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 60%;
}
.popup__body {
  background-color: #fff;
  border-radius: 10px;
}

.popup__image {
  max-width: 300px;
}

.pupop__form-input:valid + .pupop__form-input_submit {
  background-color: black;
  color: #fff;
  pointer-events: initial;
}
