.profile__add-button {
  background-color: transparent;
  width: 282px;
  height: 50px;
  border-style: none;
  background-color: transparent;
}

@media screen and (min-width: 801px) {
  .profile {
    width: 68.75%;
    height: 120px;
    margin-top: 40px;
    margin-left: 15.62%;
    margin-right: 15.62%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
  }

  .profile__content {
    max-width: 880px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto 50px;
  }

  .profile__picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  .profile__details {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 22px;
    width: 415px;
  }

  .profile__details-full {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .profile__details-name {
    width: 320px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: auto auto 10px;
  }

  .profile__details-profession {
    margin: 0px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .profile__lapiz {
    border-style: ridge;
    background-color: transparent;
    margin-top: 16px;
    margin-right: 20px;
  }

  .profile__lapiz-action-add {
    width: 24px;
    height: 24px;
  }

  .profile__add-button {
    width: 150px;
    height: 50px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 800px) {
  .profile {
    width: 282px;
    height: 286px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }

  .profile__content {
    width: 282px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    margin: 0 auto 50px;
  }

  .profile__picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-self: center;
  }

  .profile__details {
    display: flex;
    width: 282px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__details-full {
    display: flex;
    width: 200px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .profile__details-name {
    align-self: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 48px;
    letter-spacing: 0%;
    margin: 0;
  }

  .profile__details-profession {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    align-self: center;
  }

  .profile__lapiz {
    border-style: ridge;
    background-color: transparent;
    margin-top: 16px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }

  .profile__lapiz-action-add {
    width: 24px;
    height: 24px;
  }

  .profile__link {
    width: 10px;
    height: 10px;
    margin-top: 17px;
    padding: 7px;
    border-color: #ffffff;
    border-style: ridge;
    align-self: center;
  }

  .profile__add-button {
    background-color: transparent;
    width: 282px;
    height: 50px;
    margin-top: 37px;
  }

  .profile__add-button-image {
    width: 100%;
    height: 100%;
    margin: 0;
    align-self: center;
  }
}
